@import "tailwindcss";
@source "../../../plugins";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

html, body {
    min-height: 100%;
    height: 100%;
}

/* SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 30px;
    float: left;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-base-300);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--color-base-100);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    border-radius: 50%;
}

.form-check-input:checked ~ .switch .slider {
    background-color: var(--color-accent);
}

/*@media (prefers-color-scheme: dark) {*/
/*    .slider {*/
/*        background-color: var(--color-base-300);*/
/*    }*/
/*    .slider:before {*/
/*        background-color: var(--color-base-100);*/
/*    }*/
/*    .form-check-input:checked ~ .switch .slider {*/
/*        background-color: var(--color-primary);*/
/*    }*/
/*}*/

.form-check-input:checked ~ .switch .slider:before {
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.btn svg,
.icon svg {
    max-height: 20px;
}

.flashes > [type="checkbox"],
.flashes > [type="checkbox"] + .alert {
    display: none;
}

.flashes > [type="checkbox"]:checked + .alert {
    display: flex;
}