html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* -- BASIC --*/

@charset "UTF-8";
* {
  margin:0;
  padding:0;
}
html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}
body  {
  font-family: Circular,Inter,-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif,"Apple Color Emoji";
  font-size: var(--c-font-size-xs);
  line-height: 1;
  font-kerning: auto;
  font-feature-settings:"liga", "kern";
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
pre {
  color: var(--c-text);
  font-size: var(--c-font-size-xs);
}
code {
  font-family: monospace;
}
img, picture, audio, video {
  display:block;
  border: 0;
}
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}
td img {
  width: auto;
}
tr {
  border-bottom: 1px solid var(--c-neutral);
}
tbody {
  border-top: 1px solid var(--c-neutral);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: none;
  display: block;
  color: inherit;
  font-size: var(--c-font-size-xs);
  width:100%;
  margin: 0;
  padding: 10px;
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 var(--c-text);
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  line-height: 1;
  background-color: var(--c-background-secondary);
}
::placeholder {
  opacity: 1;
  color: #ddd;
}
label,
input[type="submit"],
button {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
ul {
  list-style-type: none;
}
a,
a:link,
a:active,
a.active,
input[type="submit"],
button  {
  color: var(--c-text);
  display: inline-block;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  transition-property: opacity, margin, padding, box-shadow;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
}
a.button,
.button,
button,
input[type="submit"],
nav ul li a {
  padding:10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  border:0;
  width:auto;
  text-transform: lowercase;
  font-variant: small-caps;
  /* font-feature-settings: "smcp" 1; */
  font-size: var(--c-font-size-xs);
}
.select-container {
  position: relative;
}
.select-container .select-arrow {
  position:absolute;
  right:0;
  padding:5px 10px;
  margin-top: 3px;
  pointer-events: none;
}
option {
  font-size: var(--c-font-size-xs);
  font-weight: normal;
}
a.button,
.button,
button,
input[type="submit"] {
  background-color: unset;
  color: var(--c-text);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
  transition-property: color, margin, padding, position, background-color;
}
a.button:hover,
.button:hover,
button:hover,
input[type="submit"]:hover {

}
.button-rounded,
a.button-rounded,
input[type="submit"].button-rounded {
  padding: 15px 25px;
  border-radius: 22.5px;
  color: var(--c-text);
  background-color: var(--c-background);
  border: solid 1.5px var(--c-text);
}
.button-rounded:hover,
a.button-rounded:hover,
input[type="submit"].button-rounded:hover {
  color: var(--c-text-negative);
  background-color: var(--c-background-negative);
}
.button-rounded-negative,
a.button-rounded-negative,
input[type="submit"].button-rounded-negative {
  padding: 15px 25px;
  border-radius: 22.5px;
  border: solid 1.5px var(--c-text);
  color: var(--c-text-negative);
  background-color: var(--c-background-negative);
}
.button-rounded-negative:hover,
a.button-rounded-negative:hover,
input[type="submit"].button-rounded-negative:hover {
  color: var(--c-text);
  background-color: var(--c-background);
}

.bg-secondary {
  background-color: var(--c-background-secondary);
}
.float-start {
  float: left;
}
.float-end {
  float: right;
}
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.mt-auto {
  margin-top: auto;
}
.h-100 {
  height: 100%;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.overflow-auto {
  overflow: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
  margin:0;
}
h1 {
  font-size: var(--c-font-size-xl);
  font-weight: bold;
}
h2 {
  font-size: var(--c-font-size-xl);
}
p {
  font-size: var(--c-font-size-m);
  line-height: 1.2;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
small {
  font-size: var(--c-font-size-xxs);
}
svg {
  display: inline-block;
  height:20px;
  width:auto;
}

/* HEADER */
header, footer {
  padding: 5px;
}

/* LOGO */
a#logo,
a#logo:hover,
a#logo:active {
  margin: 0;
  border: 0;
  position: relative;
}
a#logo {
  display: block;
  padding: 10px;
  font-size: var(--c-font-size-m);
  font-weight: bolder;
}
#logo:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#logo object,
#logo img,
#logo svg {
  height: 20px;
  width: auto;
  position: relative;
  display: block;
}

/* CONTENT */
.theme-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: var(--c-text);
  background-color: var(--c-background);
}
.container {
  position: relative;
  overflow: auto;
  margin: 0 auto;
  max-width: 1024px;
}
.admin-container {
  margin: 0 auto;
  max-width: 660px;
}

.outer {
  padding:20px;
  position: relative;
  overflow: auto;
}
.outer + .outer {
  padding-top:0px;
}
.inner {
  padding:10px;
  position: relative;
  overflow: auto;
}

/* USER */
.users-image {
  width: 30px;
  height: 30px;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: var(--c-neutral);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.users-name {
  padding: 10px;
}
.author {
  position: relative;
  overflow: auto;
}

/* ITEM LIST */
ul.itemlist {
  margin-top: 10px;
}
ul.itemlist li:not(:last-child) {
  margin-bottom: 10px;
}
ul.itemlist li button {
  width: 100%;
}

/* ITEM */
.item {
  overflow: auto;
  position: relative;
}
.item .item-wrap {
  display: block;
  width: 100%;
  -moz-box-shadow:    0px 0px 0px 0px var(--c-background-secondary);
  -webkit-box-shadow: 0px 0px 0px 0px var(--c-background-secondary);
  box-shadow:         0px 0px 0px 0px var(--c-background-secondary);
}
.item .item-wrap:hover {
  -moz-box-shadow:    0px 0px 5px 5px var(--c-shadows);
  -webkit-box-shadow: 0px 0px 5px 5px var(--c-shadows);
  box-shadow:         0px 0px 5px 5px var(--c-shadows);
}
.item .item-wrap img {
  width: 100%;
  height: auto;
}
.item h2,
.item h2 input {
  font-size: var(--c-font-size-l);
}
.item h1 + h2 {
  margin-top: 5px;
}
.item h1,
.item h1 input {
  font-size: var(--c-font-size-l);
}
.item-text a {
  text-decoration: underline;
}

/* SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 30px;
  float:left;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--c-neutral);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: var(--c-background-secondary);
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
  border-radius: 50%;
}
.form-check-input:checked ~ .switch .slider {
  background-color: var(--c-background-negative);
}
.form-check-input:checked ~ .switch .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* flash messages */
.input-remove-flash + .flash_message {
  display: none;
}
.input-remove-flash:checked + .flash_message {
  display: block;
}
.flash_message > .inner {
  color: var(--c-text-negative);
  background-color: var(--c-background-negative);
  display: flex;
  align-items: center;
}
.flash_message.inner + .input-remove-flash {
  padding-bottom: 0;
}
.flash_message .flash_message_text {
  flex-grow: 2;
  font-size: var(--c-font-size-xs);
}

/* FORMULAR */
form table {
  width:100%;
}
form input,
form textarea {
  font-size: var(--c-font-size-s);
  color: inherit;
  display: block;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
form input[type="checkbox"]:not(.visually-hidden,.d-none),
form input[type="radio"]:not(.visually-hidden,.d-none) {
  display: inline-block;
  width: auto;
}
form input[type="checkbox"]:not(.visually-hidden,.d-none) {
  -webkit-appearance:checkbox;
}
form input[type="radio"]:not(.visually-hidden,.d-none) {
  -webkit-appearance:radio;
}
form textarea {
  resize: none;
}
form input:focus,
form textarea:focus {
  box-shadow:none !important;
  outline: none;
}
form input:-moz-placeholder,
form input:required,
form input:required:invalid {
  box-shadow:none !important;
  border: 1px solid var(--c-background-negative);
}
form .form-group {
  margin-bottom: 10px;
}
form .form-group:last-of-type {
  margin-bottom: 0;
}
form .form-group .users-image {
  position: relative;
  float:none;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* POPUP */
.popup {
  max-width: 1024px;
}

/* DELETE BUTTON */
.input-delete ~ .confirm {
  display: none;
}
.input-delete:checked ~ .confirm {
  display: block;
}

input[name="publish_item"] ~ .button.visible svg:nth-of-type(1),
input[name="publish_item"]:checked ~ .button.visible svg:nth-of-type(2) {
  display: none;
}
input[name="publish_item"]:checked ~ .button.visible svg:nth-of-type(1),
input[name="publish_item"] ~ .button.visible svg:nth-of-type(2) {
  display: block;
}

/* EDIT BUTTON */
.editImageButton,
.editArticleButton {
  position: absolute;
  overflow: auto;
  z-index: 9;
}
.editImageButton {
  top:50%;
  left:50%;
  margin-top: -20px;
  margin-left: -20px;
}
.editArticleButton {
  overflow: auto;
  display: block;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  pointer-events: none;
}
.editArticleButton .delete,
.editArticleButton .confirm {
  pointer-events: auto;
}
.editImageButton label,
.editButton {
  position: relative;
  line-height: 1;
  pointer-events: auto;
}
.editImageButton .imageinput {
  display: none;
}
.editImageButton label,
.editImageButton button,
.editImageButton .button,
.editButton label,
.editButton button,
.editButton .button {
  float: left;
  pointer-events: auto;
}
.editImageButton label,
.editImageButton button,
.editImageButton .button {
  background-color: var(--c-background);
}
.item .editButton {
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0;

}
.item:hover .editButton {
  opacity: 1;
}

/* MENUS */
nav.menu {
  display: block;
}
nav.menu ul {
  text-align: center;
  display: flex;
  justify-content: center;
}
nav.menu ul li a {
  padding: 10px;
  display: block;
}
nav.menu ul li a .users-image {
  float: none;
  margin: -5px 0;
}

/* BADGE */
.badge {
  display: inline-block;
  border-radius: 0.375rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--c-background-negative);
  color: var(--c-text-negative);
}
.rounded-pill {
  border-radius: 50rem;
}

@media only screen and (max-width: 480px) {
  header,
  footer {
    padding: 0 5px;
  }
  nav.menu ul li a,
  a#logo {
    padding: 15px 10px;
  }
  .outer {
    padding: 10px;
  }
}
