html, body {
    min-height: 100%;
    height: 100%;
}

/* SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 30px;
    float: left;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: var(--bg-color);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
    border-radius: 50%;
}

.form-check-input:checked ~ .switch .slider {
    background-color: var(--color-darkGrey);
}

.form-check-input:checked ~ .switch .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* PUBLISH BUTTON */

input[name="publish_item"] ~ .button-visible svg:nth-of-type(1),
input[name="publish_item"]:checked ~ .button-visible svg:nth-of-type(2) {
    display: none;
}

input[name="publish_item"]:checked ~ .button-visible svg:nth-of-type(1),
input[name="publish_item"] ~ .button-visible svg:nth-of-type(2) {
    display: block;
}

/* DELETE BUTTON */

input[name="delete_item"] ~ .confirm-button {
    display: none;
}

input[name="delete_item"]:checked ~ .confirm-button {
    display: inline-flex;
}

/* SVG */

button svg, label svg, a svg {
    height: 20px;
    width: auto;
}