/* CSS file to overwrite style.css */
header {
  padding: 0;
  /* background-color: #FFDF00; */
}
a#logo {
  padding: 0;
}
a#logo svg {
  height: 48px;
}
#version {
  float: left;
}
nav.menu ul {
  padding: 3.25px;
}
nav.menu#menu ul {
  display: block;
}
nav.menu#menu ul li {
  float: none;
  padding: 5px;
}
.dark-mode-label, .menu-label {
  float: none;
}
.wrapper > .container {
  max-width: unset;
}
