parameters:
    autoload_files:
        - vendor/autoload.php
        
    paths:
        - routes

    excludePaths:
        - vendor/*
        - docker/*
        - logs/*
        - plugins/*
        - public/*
        - autoloader.php
