parameters:
    bootstrapFiles:
        - vendor/autoload.php

    paths:
        - routes

    excludePaths:
        - vendor/*
        - docker/*
        - logs/*
        - plugins/*
        - public/*
        - autoloader.php
