<label class="input">
    <span class="icon text-gray-500">
            {icon("feather/search.svg")|noescape}
        </span>
    <input type="text" name="search" placeholder="{$text}" value="{$search}" />
</label>
