<div class="flex flex-col min-h-full antialiased">
    {block header}
        {\Ivy\Template::render('include/header.latte')}
    {/block}

    {if isLoggedIn()}
        {\Ivy\Template::render('include/message.latte', ['flashes' => $flashes])}
    {/if}

    {block main}
        {\Ivy\Template::render('include/main.latte')}
    {/block}

    {block footer}
        {\Ivy\Template::render('include/footer.latte')}
    {/block}
</div>
