{extends file('index.latte')}

{block body}
<div class="flex flex-col min-h-full antialiased bg-base-200">

    {define search}{/define}

    {block header}
        {embed file('include/header.latte')}
            {block search}{/block}
        {/embed}
    {/block}

    {block main}{/block}

    {include file('include/message.latte')}

    {block footer}
        {include file('include/footer.latte')}
    {/block}

</div>
{/block}