<div class="flex flex-col min-h-full antialiased">

    {hook('before_header')}
    {block header}
        {render('include/header.latte')}
    {/block}
    {hook('after_header')}

    {block main}
        {render('include/main.latte')}
    {/block}

    {render('include/message.latte', ['flashes' => $flashes])}

    {hook('before_footer')}
    {block footer}
        {render('include/footer.latte')}
    {/block}
    {hook('after_footer')}

</div>
