<!DOCTYPE html>
<html lang="{substr(info('language'), 0, 2)}" data-color-mode="dark">
<head>
    <meta charset="utf-8"/>
    <title>{info('title')}</title>
    {include file('head.latte')}

    {foreach cssFiles() as $cssfile}
        <link href="{$cssfile}" rel="stylesheet" type="text/css">
    {/foreach}
</head>
<body>

{block body}{/block}

{foreach jsFiles() as $jsfile}
    <script nonce="{csp()}" src="{$jsfile}"></script>
{/foreach}

{foreach moduleFiles() as $module}
    <script nonce="{csp()}" type="module" src="{$module}"></script>
{/foreach}

</body>
</html>