<button class="btn btn-soft btn-primary btn-square join-item"
        type="submit"
        name="submit" value="{$value}" title="{$title}"
        {if isset($form_action)}formaction="{$form_action}"{/if}>
    {icon("feather/check.svg")|noescape}
</button>
