<input type="file" id="{$id ?? $name}" class="hidden"
       name="{$name}" accept="image/*,audio/*,video/*">
<label for="{$id ?? $name}" class="btn btn-soft btn-primary shadow-none btn-square icon-only upload">
    {icon("feather/upload.svg")|noescape}
</label>
