<button class="confirm-button btn btn-neutral btn-square join-item"
        type="submit"
        name="submit" value="{$value}"
        {if isset($form_action)}formaction="{$form_action}"{/if}>
    {icon("feather/check.svg")|noescape}
</button>
