<button class="btn btn-primary shadow-none leading-none px-4 ts-active:opacity-60 ts-active:scale-95"
        name="submit" type="submit" value="{$text}">
    <span class="submit-btn-loader absolute"></span>
    <span class="submit-btn-text relative">{$text}</span>
</button>
