<label class="button-delete btn btn-neutral btn-square join-item">
    <input type="checkbox" class="hidden"
           name="{$name}" value="{$value}">
    {icon("feather/trash-2.svg")|noescape}
</label>
