{extends '../body.latte'}

{block main}
    <main class="grow p-4">
        <form action="{path('BASE_PATH') . 'user/logout'}" method="POST" enctype="multipart/form-data">
            {csrf()}

            <div class="space-y-4">
                <div class="text-center">
                    {button type:submit, text:text('logout.logout')}
                </div>
            </div>
        </form>
    </main>
{/block}