<form>
    <label class="input">
        <span class="text-base-content/30">{icon("feather/search.svg")|noescape}</span>
        <input type="search" required placeholder="{text('search.search.search')}" />
    </label>
</form>