<input type="hidden" id="input_{$id}" name="{$name}"
       value="{$value}">

<div id="editor_{$id}" class="editor">
    <div id="content_{$id}" class="content"
         contenteditable="true">{$value|noescape}</div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
        inputTextListener({$id});
    });
</script>
