<div n:if="$item" class="dissableSortable join">
    {button type:visible, name:'publish', value:$item->published, id:$item->id}
    {button type:save, name:'save', id:$item->id}
    {button type:delete, name:'delete', value:'', id:$item->id, placeholder:$item->name}
</div>