<div n:if="$item" class="dissableSortable join">
        {button type:visible, name:'publish_item', value:$item->published, id:$item->id}
        {button type:save, name:'save_item', id:$item->id}
        {button type:delete, name:'delete_item', value:'', id:$item->id, placeholder:$item->name}
</div>