{extends path('PUBLIC_PATH') . file('body.latte')}

{block main}
    <main class="grow p-4 relative">
        <div n:if="$items" id="grid" class="grid grid-cols-3 gap-4">
            {foreach $items as $item}
                {$item->render()}
            {/foreach}
        </div>
    </main>
    {if canEditAsAdmin()}
        {render(path('PLUGIN_PATH') . 'items/template/item_template_list_modal.latte')}
    {/if}
{/block}