{extends '../body.latte'}

{block main}
    <main class="grow p-4">
        <form action="{= _p('BASE_PATH') . 'admin/user/logout'}" method="POST" enctype="multipart/form-data">
            <div class="space-y-4">

                <div class="text-center">
                    {\Ivy\Button::submit(_t('core.button.logout'))}
                </div>

            </div>
        </form>
    </main>
{/block}