{extends '../body.latte'}

{block main}
    <main class="grow p-4">
        <form action="{path('BASE_PATH') . 'admin/user/logout'}" method="POST" enctype="multipart/form-data">
            {csrf()}

            <div class="space-y-4">
                <div class="text-center">
                    {\Ivy\Button::submit(text('logout.button.submit'))}
                </div>
            </div>
        </form>
    </main>
{/block}